
/* Modal */
#modal-container {
  display: flex !important;
}

/* container */
.main {
  margin-top: 4em;
}

/* header */

#login-prompt:hover {
  cursor: pointer;
}

#user-info {
  background-color: rgba(0,0,0,.87);
}

/* landing page */
#top-centered-item {
  left: 0;
  position: absolute;
  right: 0;
  top: 40%;
}

/* Login Prompt */
.discord-theme {
  background-color: #7289DA !important;
}

/* CreateMove */
.right {
  float: right;
}

.submit {
  margin-top: 1em !important;
}

.ui.form input[type=checkbox] {
  margin-right: 5px;
  vertical-align: middle !important;
}

/* ListMoves */
.admin-options {
  text-align: right !important;
}

.admin-option {
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

