
/* Modal */
#modal-container {
  display: flex !important;
}

/* container */
.main {
  margin-top: 4em;
}

#landing {
  left: 0;
  position: absolute;
  right: 0;
  top: 40%;
}

/* CreateMove */
.right {
  float: right;
}

.submit {
  margin-top: 1em !important;
}

/* ListMoves */
.admin-options {
  text-align: right !important;
}

.admin-option {
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

